<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<!DOCTYPE root SYSTEM "newXmlSchema.xsd">-->

<!--<root>
  <prenom>John</prenom>
</root>-->
<!--Lorsque nous allons aller sur la page news.html, le routeur dira donc à l'application 
: « le client veut accéder au module News et exécuter l'action show ». Les variables $_GET['slug']
et $_GET['id'] seront créées et auront pour valeur le contenu des parenthèses capturantes.-->
<routes>
    <!--<route url="/news-(.+)-([0-9]+)\.html" module="News" action="show" vars="slug,id" />-->
    <route url="/" module="News" action="index" ></route>
</routes>
