/* 
    Created on : 22 avr. 2020, 22:59:47
    Author     : constancelaloux
*/
@import "./utils/variables";
@import "./bootstrap/bootstrap.scss";
@import "./layout/form";

/*Formulaire*/
.h2{
    color:$warning;
    //border-left: 4px solid #00a0d2;
    padding: 12px;
}

button.btn-primary{
    background-color: $warning;
    border-color: $transparent-color;
}

button.btn-primary:hover{
    background-color:$secondary-color;
    border-color: $transparent-color; 
}

//header
.navbar-light .navbar-brand{
    /*color: #c34336;*/
    color:#f70f0f;
    font-size: 1.35rem;
}

.navbar-light .navbar-nav .nav-link{
    font-size: 1.05rem;
    color: #111;
    letter-spacing: 0.0925em;
}

.navbar-light .navbar-nav .nav-link.disabled{
    font-size: 1.05rem;
    color: #111;
    letter-spacing: 0.0925em;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    font-size: 1.05rem;
    color: #111; 
    letter-spacing: 0.0925em;
}

.btn-outline-success {
    color: #f70f0f;
    border-color: #f70f0f;
}

.jumbotron{
    background-color: #1d1a19;
}

h3.card-title {
    /* margin-bottom: 0.75rem; */
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
    letter-spacing: 4px;
}

a.stretched-link{
    border-color: #333;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    background-color: transparent;
    padding: 15px 0px;
    letter-spacing: 1px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border: none;
    border-bottom: 3px solid;
    font-size: 13px;
}

p.card-text{
    font-size: 13px;
    line-height: 26px;
}

.text-muted{
    font-size: 12px;
    margin-right: 20px;
    font-weight: 300; 
    text-transform: uppercase;
}

h3.card-title{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
}
