/* 
    Created on : 22 avr. 2020, 22:59:47
    Author     : constancelaloux
*/
@import "./utils/variables";
@import "./vendors/bootstrap/bootstrap.scss";
@import "./layout/form";

/*Formulaire*/
.h2{
    color:$warning;
    //border-left: 4px solid #00a0d2;
    padding: 12px;
}

button.btn-primary{
    background-color: $warning;
    border-color: $transparent-color;
}

button.btn-primary:hover{
    background-color:$secondary-color;
    border-color: $transparent-color; 
}

//header
.navbar-light .navbar-brand{
    /*color: #c34336;*/
    color:#f70f0f;
    font-size: 1.35rem;
}

.navbar-light .navbar-nav .nav-link{
    font-size: 1.05rem;
    color: #111;
    letter-spacing: 0.0925em;
}

.navbar-light .navbar-nav .nav-link.disabled{
    font-size: 1.05rem;
    color: #111;
    letter-spacing: 0.0925em;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    font-size: 1.05rem;
    color: #111; 
    letter-spacing: 0.0925em;
}

.btn-outline-success {
    color: #f70f0f;
    border-color: #f70f0f;
}

.jumbotron{
    background-color: #1d1a19;
}

h3.card-title {
    /* margin-bottom: 0.75rem; */
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
    letter-spacing: 4px;
}

a.stretched-link{
    border-color: #333;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    background-color: transparent;
    padding: 15px 0px;
    letter-spacing: 1px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border: none;
    border-bottom: 3px solid;
    font-size: 13px;
}

p.card-text{
    font-size: 13px;
    line-height: 26px;
}

.text-muted{
    font-size: 12px;
    margin-right: 20px;
    font-weight: 300; 
    text-transform: uppercase;
}

h3.card-title{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
}

#jumbotron {
    background-image: url('/../../public/images/librairie.jpg');
    background-size: cover;
    box-shadow: inset 0 0 0 2000px #212529b0;
}


//Footer
.blog-footer
{
    background-color: $dark;
}

.overlay-image .hover-item-caption {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /*left: 0;*/
    top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    z-index: 2;
    /*-moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);*/
    /*transform: scale(1.2);*/
    transition: all .5s ease-in-out;
}

.overlay-image {
    position: relative;
}

.smoothie, .smoothie:hover {
    -webkit-transition: all .5s ease-in-out;
}

.hover-item-caption{
    box-shadow: inset 0 0 0 1px #000000;
}

.text{
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}

.stretched-link:hover {
    border-color: #888;
    color: #888;
    text-decoration:none;
}

.overlay-image:hover .hover-item-caption {
  opacity: 1;
}

.services-section .container {
    position: relative;
    margin-top: -70px;
    z-index: 99;
}

.services-section {
    padding-top: 0;
    /*padding-bottom: 60px;*/
}

.services-item{
    -webkit-box-shadow: 0px 10px 25px rgba(206, 206, 206, 0.5);
    background: #fff;
}

/*font-family: Muli,"sans-serif;";
    font-weight: 700;
    line-height: 1.3;
    color: #1d1a19;*/

h2.display-4.font-italic{
    display: inline-block;
    font-weight: 300;
    text-transform: uppercase;
    color: #f7f3f1;
    font-family: 'Montserrat';
    background-color: #e93f37;
    font-size: 1.2rem;
    padding: 3px 7px;
    line-height: 1;
    margin-bottom: 30px;
}

.section-article{
    padding-top: 80px; 
}

/*La publicité de Tinymce est cachée*/
.mce-notification.mce-has-close
{
    display: none;
}
    
/*La page du backend qui liste les articles*/
.articles {
    padding-top: 80px;
}