/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 avr. 2020, 16:25:32
    Author     : constancelaloux
*/

/*
Formulaire
*/
.container
{
    display: flex;
    justify-content: center;
}

input#firstname.form-control
{
     border-radius: 10px;
}

input#surname.form-control
{
     border-radius: 10px;
}

input#username.form-control
{
     border-radius: 10px;
}

input#password.form-control
{
     border-radius: 10px;
}

.formTitle h1
{
    font-size: 2.2rem;
    text-align: center;
    /*color: orange;*/
    /*color: #e2995b;*/
    color:#e83e36;
    border-left: 4px solid #00a0d2;
    padding: 12px;
}

button.btn-primary 
{
    /*background-color: #e2995b;*/
    background-color: #e83e36;
    border-color: transparent;
}

button.btn-primary:hover
{
    /*background-color: #da532a82;*/
    background-color:#e83e36c9;
    /*#e83e36;*/
    border-color: transparent; 
}

.FormImg
{
    display: flex;
    justify-content: center;
}

/*Page principale du blog*/