/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 déc. 2018, 19:56:35
    Author     : constancelaloux
*/

/*Le contenu s'affiche en dessous de la barre de menu*/
/*.content
    {
        padding-top: 100px;
    }*/

/*Le bouton déconnexion se met en ligne*/
.btn:not(:disabled):not(.disabled)
    {
        display: flex;
        flex-direction: row;
    }

/*Hauteur du footer*/
.footer
    {
        height: 20px;
        text-align: center;
    }


/*Page d'accueil du blog*/
/*.container 
    {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

.row 
    {
      margin-right: -15px;
      margin-left: -15px;
    }

.listOfArticles
    {
        display: flex;
        flex-direction: column;*/
        /*justify-content: center;*/
        /*text-align: center;*/
        /*border: 2px solid green;*/
    /*}*/
    
/*#navArticles
    {
        display: flex;
        justify-content: center;
    }*/

/*.listOfArticles a
    {
        color: black;
        border: solid 1px black;
        padding: 3px;
        display: flex;
        justify-content: center;*/
        /*text-decoration: none; */ /*enlever le soulignage*/
   /* }
    
    

.listOfArticles a:hover 
    {
        color: black;
        text-decoration: none;*/ /*enlever le soulignage*/
     /*   background: #80808038;
    }
    
.listOfArticles p
    {*/
        /*border: 2px solid red;*/
    /*}*/
    
/*.carousel-inner
    {
        height: 100%;
        width: 100%
    }*/
    
/*.dropdown-toggle::after
    {
        color: black;
    }

.btn-secondary
    {
        border-color: white!important;
    }

.navbar-dark .navbar-toggler 
    {
        color: black!important;
        border-color: black!important;
        background-color: black!important;
    }*/




/*BACKEND*/
/*selecteur d'image de l'éditeur wisywig */
.hidden
    {
        display:none;
    }

/*La publicité de Tinymce est cachée*/
.mce-notification.mce-has-close
    {
        display: none;
    }
    
 /*Ecrire un article*/
.titleOfArticle
    {
        display: flex;
        flex-direction: column;
    }

.imageOfArticle
    {
        display: flex;
        flex-direction: column;
    }

#formArticle
    {
        margin-top: 50px;
    }   
    
    
    
  
    
    
    
    
    
/*FRONTEND*/ 

 /*HEADER de HOMEPAGE.php*/
/*barre header*/
/*Le menu a une petite bordure grise a droite*/
.navbar-expand-lg .navbar-nav
    {
        border-right: 1px solid #e9ecef;
        margin-left: 60%;
    }

/*La police du menu*/    
.nav-item
    {
        font-family: 'Roboto';
    }
    
/*Bouton de recherche*/    
#buttonSubmit button
    {
        border: transparent;
        font-size: x-large;
    }

/*J'enléve les bordures autour du bouton*/
#dropdownMenuOffset
    {
        border: none;
    }

/*HOMEPAGE.php: La page de mes articles du frontend*/

/*CAROUSEL*/
/*Le titre sur le carousel*/
#title
    {
        color: white;
        position: absolute;
        bottom: 40%;
        text-align: center;
        font-family: 'Roboto';
    }

/*Le titre se centre par rapport au carousel*/
.carousel 
    {
        display: flex;
        justify-content: center;
    }

/*Le carousel a une marge de 120px par rapport au header donc il passe en dessous*/
#caroussel
    {
        margin-top: 120px;
    }

    
    
/*LES ARTICLES*/

/*Je resize les images du listing de mes articles*/
#myarticles #imageFromListing
    {
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin: 10px;
        position: relative;
    }
    
#imageFromListing img
    {
        min-height: 100%;
        max-width: 100%;
        position: absolute;
        margin: auto;
        border-radius: 4px 4px;
    }
    
/*Mes articles ont chacun un border et une marge entre eux*/    
#myarticles
    {
        /*background-color: #f7f7f7;*/
        border-bottom: 1px solid #DCDCBE;
        /*padding: 20px 0px 20px 0px;*/
    }
#myarticles h3
    {
        font-family: 'Roboto';
    }

#myarticles p
    {
        font-family: 'Roboto';
    }

#myarticles a
    {
        font-family: 'Roboto';
        color: #16447d;
    }
    
#next p
    {
        text-align: center;
        border: 1px solid #6c757d   
    }

    
.page-item 
    {
        font-family: 'Roboto';
    }
    
    
/*LOGO ET EXPLICATIF DU BLOG*/
/*Explication du blog*/
#logoAndExplanation
    {
        display: flex;
        flex-direction: column;
    }
    
#titleOfBlogExplanation h3
    {
        font-family: 'Roboto';
    }
    
#logoAndExplanation p
    {
        font-family: 'Roboto';
    }
/*Logo*/
#logo
    {
        display: flex;
        justify-content: center;
    }

#logo img
    {
        border-radius: 90px 90px;
    }
#logoFollowME p
    {
        font-family: 'Roboto';
    }
#logoFollowME
    {
        text-align: center;
    }
/*Titre en dessous du logo*/
#titleOfBlogExplanation h3
    {
        text-align: center;
    }
    
 /*texte en dessous du logo*/
#textHomePage p
    {
        text-align: center;
        /*font-family: 'Roboto';*/
        font-family:  'Bad Script', cursive;
    }
    
/*bordure en dessous du logo follow me*/
#logoFollowME
    {
        border-bottom: 1px solid black;
        padding: 0px 0px 10px 0px;
    }

    
    
    
/*DERNIER ARTICLE*/
/*dernier article marge du dessus*/
#LastArticle
    {
        padding: 10px 0px 0px 0px;  
    }
    
/*image du dernier article*/
#LastArticle .imageFromLastArticle
    {
        max-width: 100%;
        max-height: 100px;
        overflow: hidden;
        margin: 10px;
        /*position: relative;    */  
    }
    
.imageFromLastArticle img
    {
        max-height: 100%;
        max-width: 100%;
        /*position: absolute;*/
        margin: auto;
    }

#imageAndTitlefromLastArticles
    {
        display:flex;
        flex-direction: row;
    }
    
#LastArticle h3
    {
        font-family: 'Roboto';
    }
 
#LastArticle p
    {
        font-family: 'Roboto';
        width: 200px;
    }
    
#LastArticle p a
    {
        font-family: 'Roboto';
        color: black;
    } 
    
    
    
/*CONTACT*/    
/*le background du formulaire de contact*/
#contact
    {
        background-color: #f7f7f7;
    } 
    
#contact
    {
        font-family: 'Roboto';
    }


/*MES DERNIERS OUVRAGES*/
#myLastBooks
    {
        background-color: black;
    }
    
#myLastBooks p
    {
        color: white;
        font-family: 'Roboto';
        text-align: center;
    }
    
#books
{
        display: flex;
        /*flex-direction: row;*/
        justify-content: center;
}

/*FOOTER*/
.footer
    {
        font-family: 'Roboto';
    }



 
    
/*MYARTICLES.php La page qui montre que un seul article en fonction de l'id*/
    
/*mon article*/
.myArticleById
    {
        display: flex;
        flex-direction: column;       
    }