/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 déc. 2018, 19:56:35
    Author     : constancelaloux
*/

/*Le contenu s'affiche en dessous de la barre de menu*/
.content
    {
        padding-top: 100px;
    }

/*Le bouton déconnexion se met en ligne*/
.btn:not(:disabled):not(.disabled)
    {
        display: flex;
        flex-direction: row;
    }

/*Hauteur du footer*/
.footer
    {
        height: 20px;
    }

/*selecteur d'image de l'éditeur wisywig */
.hidden{display:none;}

/*La publicité de Tinymce est cachée*/
    .mce-notification.mce-has-close
    {
        display: none;
    }