<div class = 'page-image' style='background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png")'>
</div>
    <section class="createAuthorForm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="formTitle">
                    <h1>{{title}}</h1>
                </div>

                {{form}}

                <a class="connectForm" href="{{url}}">Revenir au formulaire de connexion</a>
                <p>username = Jean_Forteroche
                password = @jeanF38</p>
            </div>
        </div>
     </div>
</section>
